# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.factorypath
.settings/
*.sublime-workspace
*.iml
openapi.json
target/

# IDE - VSCode
.vscode/*

#IDE - Webstorm
/**/vcs.xml
/**/works

#Docker
docker-compose.override.yml

# Misc
/cloc
/bin
/pkg
/src/vendor
/src/api/vendor
/deploy
/cobertura
/testresults
/.cover

# Runtime files created during local run
/app/*

# Python, virtualenv
/venv
.venv
/**/.env
/**/env
/**/.hypothesis
testing/*/venv/
testing/*/env/
.pytest_cache/
__pycache__/
**/.pytest_cache
**/allure-results
**/allure-report
**/report.html

#.pyc files in all directories
**/*.pyc

.DS_STORE

dist/